<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Person by id</title>
</head>

<body>

<p th:text="${personById.getPersonName()}+', '+${personById.getPersonBirthYear()}"/>

<div th:each="book : ${books}" th:if="${#lists.size(books) != 0}">
    <hr/>
    <p>Books:</p>
    <p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">
        user_book</p>
</div>
<div th:if="${#lists.size(books) == 0}">This person holds no books</div>

<br/>


<br>
<hr>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${personById.getPersonId()})}">
    <input type="submit" value="Edit this person">
</form>
<br>
<form th:method="POST" th:action="@{/people/{id}/delete(id=${personById.getPersonId()})}">
    <input type="submit" value="Delete this person">
</form>


</body>

</html>